<f:layout name="Default" />

<f:section name="Main">

  <main class="ronline-contentpusher-container" id="ronline-content">    
    <div class="ronline-contentpusher">
      <h1>Hello World</h1>
      <f:render partial="Section" />
      <section class="ronline-text">
        <h2>Überschrift</h2>
        <p>Und der Text dazu.</p>
      </section>
      <section class="ronline-text">
        <h2>Überschrift</h2>
        <p>Und der Text dazu.</p>
      </section>
      <section class="ronline-text">
        <h2>Überschrift</h2>
        <p>Und der Text dazu.</p>
      </section>
    </div>
    <footer class="ronline-footer">
    </footer>
  </main>

</f:section>