<div class="ronline-container">
  <header class="ronline-header">
  </header>
  <input id="ronline-menutoggle" class="ronline-menutoggle" type="checkbox">
  <label class="ronline-menutoggle-label" for="ronline-menutoggle">
    <span class="ronline-menutoggle-icon"></span>
  </label>  
  <nav class="ronline-navdrawer">
    <ul class="ronline-navbar">
      <li><a href="#">Home</a></li>
    </ul>
  </nav>

  <f:render section="Main" />

  <label class="ronline-menuoverlay" for="ronline-menutoggle"></label>
</div>